debian/debhelper-build-stamp
debian/files
debian/molior-tools.debhelper.log
debian/molior-tools.substvars
debian/molior-tools-doc.debhelper.log
debian/molior-tools-doc.substvars
debian/molior-tools/
debian/.debhelper/

molior_tools.egg-info/

# python stuff
.pybuild/
moliorparseconfig.egg-info/
debian/molior-tools.postinst.debhelper
debian/molior-tools.prerm.debhelper
debian/molior-tools-doc/
debian/tmp/

build/

debian/manpages
.manpages/

debian/python3-molior-tools/
