Source: molior-tools
Section: misc
Priority: optional
Maintainer: André Roth <neolynx@gmail.com>
Build-Depends: debhelper (>= 8), dh-python, python3-all, python3-setuptools, txt2man, man2html-base
Standards-Version: 3.9.3

Package: molior-tools
Section: misc
Architecture: all
Suggests: docker, virtualbox, syslinux-utils, genisoimage
Depends: ${perl:Depends}, ${misc:Depends}, ${python3:Depends},
  libapt-pkg-perl, libparse-debian-packages-perl, wget,
  debootstrap, xz-utils, devscripts, equivs, curl, lsb-release,
  python3, python3-yaml, python3-click, jq, pxz | xz-utils (>= 5.2.4-1)
Conflicts: debrilis, rlx3-devtools, molior-deploy
Description: molior development and deployment tools
 Tools for creating debian package releases in git repositories
 and for creating deployments of molior projects.

Package: molior-tools-doc
Section: doc
Architecture: all
Recommends: molior-tools
Description: molior tools documentation
 HTML manpages of the molior tools.
